In [ ]:
import pandas as pd

In [ ]:
bank_df = pd.read_csv('C:\\Users\\flowe\\OneDrive - San Francisco State University\\Project_Expert_GitHub\\Project_Python\\JupyterNotebookWorkingSpace\\PerfectGuid\\1장\\bank.csv')
print(type(bank_df))

In [ ]:
bank_df.head(20)

In [ ]:
print("columns:", bank_df.columns)
print("index:",bank_df.index)
print("index value:", bank_d`f.index.values)

In [ ]:
print('DataFrame 크기 : ',bank_df.shape)

In [ ]:
bank_df.info()

In [ ]:
bank_df.describe()

In [ ]:
value_counts = bank_df['age'].value_counts()
print(value_counts)

In [ ]:
bank_age = bank_df['age']
print(type(bank_age))

In [ ]:
bank_age.head()

In [ ]:
bank_df.sort_values(by = 'age', ascending = True)

bank_df[['age', 'job', 'balance']].sort_values(by = ['age', 'balance'], ascending = [True, False])

In [ ]:
import numpy as np

bank_df['age_0'] = 0
bank_df.head()

In [ ]:
bank_df["age_0"] = bank_df['age'] * 10
bank_df.head()

In [ ]:
bank_drop_df = bank_df.drop('age_0', axis=1)
bank_drop_df.head(3)
bank_drop_df.info()

In [ ]:
bank_df = pd.read_csv('C:\\Users\\flowe\\OneDrive - San Francisco State University\\Project_Expert_GitHub\\Project_Python\\JupyterNotebookWorkingSpace\\PerfectGuid\\1장\\bank.csv')
indexes = bank_df.index
print(indexes.values)

In [ ]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

In [ ]:
series_balance = bank_df['balance']
series_balance.head(5)

In [ ]:
print('balance Series max 값:', series_balance.max())
print('balance Series sum 값:', series_balance.sum())
print('sum() balance Series:', sum(series_balance))
print('balance Series + 3:\n',(series_balance + 3).head(3) )

In [ ]:
bank_reset_df = bank_df.reset_index(inplace = False)
bank_reset_df.head(3)

In [ ]:
bank_reset_df.shape

In [ ]:
bank_df[ bank_df['age'] == 20 ].head(3)

In [ ]:
bank_bool = bank_df[bank_df['age'] == 18]
print(type(bank_bool))
bank_bool

In [ ]:
bank_df['age'] <= 20
var1 = bank_df['age'] <= 20
print(var1)
print(type(var1))

In [ ]:
bank_df[bank_df['age'] <= 20][ ['age', 'job', 'balance'] ].head(10)

In [ ]:
bank_df.loc[(bank_df['age'] <= 24) & (bank_df['job'] != 'student'), ['age', 'job', 'balance']].head(10)

In [ ]:
bank_df.count()

In [ ]:
bank_df[['age', 'balance']].mean(axis=0)

In [ ]:
bank_df[['age', 'balance']].mean()

In [ ]:
bank_df[['age', 'balance']].sum(axis=0)

In [ ]:
bank_groupby = bank_df.groupby(by = 'job')
print(type(bank_groupby))
print(bank_groupby)

In [ ]:
bank_groupby = bank_df.groupby('job').median()
bank_groupby

In [ ]:
print(type(bank_groupby))
print(bank_groupby.shape)
print(bank_groupby.index)

In [15]:
bank_groupby = bank_df.groupby(by = 'job')[['age', 'balance']].mean()
bank_groupby

                     age      balance
job
admin.         39.374063  1195.866567
blue-collar    39.505144  1203.926440
entrepreneur   42.887195  1621.942073
housemaid      47.445255  1366.160584
management     40.218239  1793.663679
retired        65.424165  2417.250643
self-employed  39.809877  1865.372840
services       38.141928  1081.171181
student        26.102778  1500.783333
technician     39.001646  1556.294569
unemployed     40.997199  1314.719888
unknown        46.857143  1945.457143

In [ ]:
bank_df.groupby('job')['age', 'balance'].agg([min, max])

In [ ]:
agg_format = {'age' : ['min', 'max'], 'balance' : 'mean'}
bank_df.groupby('job').agg(agg_format)a

In [ ]:
bank_df.isna().head(3)

In [ ]:
bank_df.isna().sum()

In [ ]:
lambda_square = lambda x : x**2
print('3의 제곱은 : ', lambda_square(3))

In [ ]:
bank_df['job_len'] = bank_df['job'].apply(lambda x : len(x))
bank_df[['job', 'job_len']].head(3)

In [ ]:
def get_category(age):
    cat = ''
    if age <= 19: cat = 'Teenager'
    elif age <= 26: cat = 'Student'
    elif age <= 35: cat = 'Young Adult'
    elif age <= 59: cat = 'Adult'
    else : cat = 'Elderly'
    
    return cat

bank_df['age_cat'] = bank_df['age'].apply(lambda x : get_category(x))
bank_df[['age', 'age_cat']].head(10)

In [ ]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

iris = load_iris()
dt_clf = DecisionTreeClassifier()
train_data = iris.data
train_label = iris.target
dt_clf.fit(train_data, train_label)

# 학습 데이터 셋으로 예측 수행
pred = dt_clf.predict(train_data)
print('예측 정확도:',accuracy_score(train_label,pred))

In [ ]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

dt_clf = DecisionTreeClassifier( )
iris_data = load_iris()

X_train, X_test, y_train, y_test = train_test_split(iris_data.data, iris_data.target, 
                                                    test_size=0.3, random_state=121)

In [ ]:
dt_clf.fit(X_train, y_train)
pred = dt_clf.predict(X_test)
print('예측 정확도: {0:.4f}'.format(accuracy_score(y_test,pred)))

In [ ]:
import pandas as pd

iris_df = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
iris_df['target']=iris_data.target
iris_df.head()

In [ ]:
ftr_df = iris_df.iloc[:, :-1] # 행 전체 and target을 빼고 슬라이싱
tgt_df = iris_df.iloc[:, -1] # 행 전체 and target만 슬라이싱
X_train, X_test, y_train, y_test = train_test_split(ftr_df, tgt_df, 
                                                    test_size=0.3, random_state=121)

In [8]:
import numpy as np
import pandas as pd

In [9]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

dt_clf = DecisionTreeClassifier( )
bank_df = pd.read_csv('C:\\Users\\flowe\\OneDrive - San Francisco State University\\Project_Expert_GitHub\\Project_Python\\JupyterNotebookWorkingSpace\\PerfectGuid\\1장\\bank.csv')
print(type(bank_df))

<class 'pandas.core.frame.DataFrame'>

In [22]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [1]:
from sklearn.preprocessing import LabelEncoder

items=['TV','냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']

encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
print('인코딩 변환값:',labels)

인코딩 변환값: [0 1 4 5 3 3 2 2]

In [3]:
print(encoder.classes_)

['TV' '냉장고' '믹서' '선풍기' '전자렌지' '컴퓨터']

In [5]:
print(encoder.inverse_transform([5,4,3,2,1]))

['컴퓨터' '전자렌지' '선풍기' '믹서' '냉장고']